.banner
{
	text-align: center;
	font-size: 150px;
	font-family: georgia;
	color: White;
	background-image: url("Images/header1.jpg");
}

.navbar
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: sticky; /*Will stick when you scroll down*/
	position: sticky;
	top: 0;
}

.sites 
{
	float: left;
}

.sites a 
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/*Changes the colour when you hover over it*/
.sites a:hover {
	background-color: #b4b4b4;
}

.active 
{
	background-color: #787878;
}

#table
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#table td, #table th {
	border: 1px solid #ddd;
	padding: 8px;
}

#table tr:nth-child(even)
{
	background-color: #f2f2f2;
}

#table th 
{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: black;
	color: white;
}

h1,h2,h3
{
	text-align: center;
	color: Black;	
}

p
{
	text-align: center;
	margin: 60px;
	color: Black;	
}

body
{
	color: Black;	
}

ul
{
	list-style-position: inside;
}

#tribute
{
	width : 50%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#tribute td, #tribute th 
{
	border: 1px solid #ddd;
	padding: 8px;
}

#tribute tr:nth-child(even)
{
	background-color: #f2f2f2;
}

#tribute th 
{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: white;
	color: black;
}
	
.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

footer
{
	background-color: Black;
	color: Darkgray;
	width: 100%; 
	height: 200px;
}

div.column-wrapper 

{
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

body 
{
	background-image: url("Images/imaging.jpg");
}

mark 
{ 
	background-color: white;
	color: black;
}

#center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

#centers
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

	
	